@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h4>Chirp Timeline</h4>

    <ul class="list-group">

        <li class="list-group-item">
            <table>
                <tr>
                    <td><img src="http://i.imgur.com/Mk4Mfej.jpg" alt="" height="80" width="80"></td>
                    <td style="padding-left:35px">
                        <h4 class="">UserName<small><button class="label btn-info">Follow</button><br>Zack Gall<br><span class="glyphicon glyphicon-time"></span> April 18, 2017 - 11:00AM</small></h4>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-left:35px">
                        <p>Chirp chirp chirp. Tweet tweet tweet. Meow meow meow. Woof woof woof.</p>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>